<div class="navbar-header">
    <a class="navbar-brand" asp-controller="home" asp-action="index">EnesOrhan</a>
</div>
<ul class="nav navbar-nav">
    <li class="active"><a asp-controller="home" asp-action="index">Home</a></li>
    <li><a asp-controller="home" asp-action="page1">Teachers</a></li>
    <li><a asp-controller="home" asp-action="page2">Students</a></li>
</ul>